<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-md-5">
    <f:if condition="{newsItem.teaser}">
            <!-- teaser -->
            <div class="lead" itemprop="description">
              <f:format.html>{newsItem.teaser}</f:format.html>
            </div>
          </f:if>
          <div class="news-text-wrap" itemprop="articleBody">
            <f:format.html>{newsItem.bodytext}</f:format.html>
          </div>
          <f:render section="relatedSorted" arguments="{_all}" />
          <f:render section="relatedFiles" arguments="{_all}" />
          <f:render section="relatedLinks" arguments="{_all}" />
</div>
<div class="col-md-7">
  <f:for each="{newsItem.mediaNonPreviews}" as="mediaElement">
    <div class="thumbnail">
      <f:media file="{mediaElement}" class="img-responsive" />
      <f:if condition="{mediaElement.description}">
        <div class="caption">
          {mediaElement.description}
        </div>
      </f:if>
    </div>
  </f:for>
</div>
<div class="col-md-12">
    <f:render section="inner-content" arguments="{_all}" />
</div>
</html>